@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-background";

* {
  box-sizing: border-box;
  font-weight: normal;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

ul {
  list-style: none;
}

h2,
ul {
  margin: 0;
}

ul > li {
  float: left;
}

.hidden {
  display: none;
}

.header__menu-wrapper {
  height: 79px;
  width: 100%;
  margin-top: -79px;
  padding: 0 30px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  @include adaptive-background("../img/header_background.jpg", #93b0fe);
}

.header__company {
  display: flex;
  align-items: center;
}

.header__company-name {
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
}

.header__logo {
  width: 52px;
  height: 50px;
}

.header__menu {
  width: 100%;
}

.header__menu > ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.header__menu-item {
  margin-right: 4%;
}

.header__menu-item > a {
  color: white;
  font-size: 20px;
  font-family: "MullerLight", sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 79px);
  margin-top: 79px;
  padding: 15% 14% 0 14%;

  font-family: "MullerLight", sans-serif;

  @include adaptive-background("../img/main_background.jpg", white);
}

.main__title {
  margin-bottom: 2%;
  font-size: 2.2rem;
}

.main__content {
  margin-bottom: 6%;
  font-size: 1.2rem;
}

.main__content > span {
  text-transform: uppercase;
}

.main__more-btn {
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: $accent;
}

.main__phone-wrapper {
  align-self: flex-end;
}

.main__phone {
  height: 50vh;
  width: 50vh;
}

.about-us {
  height: 100vh;
  padding: 10% 14%;
  background-color: white;
}

.about-us__title {
  margin-bottom: 4%;

  line-height: 1.2;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.about-us__title > span {
  font-size: 2.5rem;
  font-family: "MullerLight", sans-serif;
  font-weight: 200;
  text-transform: lowercase;
}

.about-us__content {
  font-weight: 600;
  font-family: "MullerLight", sans-serif;
}

.about-us__callback {
  margin-top: 5%;

  padding: 10px 50px;
  font-family: "MullerLight", sans-serif;
  color: $accent;
  background-color: transparent;
  border: 2px solid $accent;
  border-radius: 10px;
}

.about-us__callback:focus {
  outline: none;
}

.about-us__callback:hover {
  cursor: pointer;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 3% 0%;
  @include adaptive-background("../img/how-it-work_background.jpg", #93b0fe);
}

.how-it-works__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  color: white;
}

.how-it-works__item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.how-it-works__item {
  width: 25%;
  margin: 0 3%;
  text-align: center;
  color: white;
}

.how-it-works__img {
  height: 60px;
}

.how-it-works__item-title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.how-it-works__item-text {
  font-family: "MullerLight", sans-serif;
}

.guarantees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 5% 0;

  background-image: url("../img/guarantees_background-right-top.png"),
    url("../img/guarantees_background-left-bottom.png");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.guarantees__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5%;
}

.guarantees__item-container {
  padding: 0 10%;
  display: flex;
}

.guarantees__item {
  width: 27%;
  margin: 0 4%;
  text-align: center;
}

.guarantees__item-icon {
  margin-right: 5px;
  color: $accent-two;
}

.guarantees__item-icon--accent {
  color: $accent;
}

.guarantees__item-title {
  margin-bottom: 25px;
  font-size: 1.4rem;
  font-weight: normal;
}

.guarantees__item-text {
  font-family: "MullerLight", sans-serif;
}

.style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 212px;

  font-family: "MullerLight", sans-serif;

  @include adaptive-background("../img/style_background.jpg", #93b0fe);
}

.style__title {
  color: white;
  text-align: center;
}

.style__title > span {
  font-family: "MullerRegular", sans-serif;
  font-size: 3rem;
}

.price {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.price__item-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 355px;
  padding: 40px 30px;
  margin: 0 0.5%;
  text-align: center;

  @include adaptive-background("../img/price_background.png", transparent);
}

.price__item-title {
  width: 100%;
  position: relative;
  padding: 10px 0;
  color: white;
  background-color: $accent-two;
  border-radius: 10px;
}

.price__item-price {
  font-family: "MullerLight", sans-serif;
}

.price__discout-icon {
  top: -16px;
  right: -14px;
  position: absolute;
}

.price__item-text {
  flex-grow: 1;
  padding: 10px;
  font-family: "MullerLight", sans-serif;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.price__item-more-btn {
  width: 150px;
  padding: 10px 20px;
  color: $accent-two;
  background-color: transparent;
  border: 2px solid $accent-two;
  border-radius: 10px;
}

.contacts__title-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-size: 2.6rem;
  color: white;
}

.contacts__email {
  font-family: "MullerLight", sans-serif;
  color: white;
}

.contacts__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__input-wrapper {
  width: 100%;
  display: flex;
}

.contacts__input-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contacts__input-right {
  display: flex;
  flex-grow: 1;
}

.contacts__input-field {
  padding: 10px 10px;
  margin: 1% 1%;

  color: #7a7a7a;
  font-family: "MullerLight", sans-serif;

  border: 2px solid $accent-two;
  border-radius: 10px;
}

.contacts__input-field--textarea {
  width: 100%;
  resize: none;
}

.contacts__submit-btn {
  width: 200px;
  padding: 10px 30px;
  margin-right: 0.6%;
  font-family: "MullerLight", sans-serif;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #6b33ff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 10% 0 10%;
  height: 500px;
  @include adaptive-background("../img/footer_background.jpg", $accent);
}

.footer__title {
  font-family: "MullerLight", sans-serif;
  color: white;
}

.footer__links-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__socials {
  width: 8%;
  padding: 0;
}

.footer__socials-item {
  margin-right: 0%;
}

.footer__socials-icon {
  width: 100%;
  font-size: 2rem;
}

.footer__links {
  flex-grow: 1;
  padding: 0;
}

.footer__links-item {
  margin-right: 1%;
}

.footer__links-item > a {
  text-decoration: underline;
  font-family: "MullerLight", sans-serif;
  color: white;
}

.footer__copyright {
  width: 15%;
  font-family: "MullerLight", sans-serif;
  color: white;
}

@import "media"; // Always at the end
